*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #082926;
    color: #ededed;
}

.header{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}



.navbar a:hover,
.navbar a.active{
    color: crimson;
}

.Home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 56px;
    font-weight: 700;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    color: #00abf0;
    line-height: 1.2;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #082926;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #082926;
}

.btn-box a:nth-child(2):before{
    background-color: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #082926;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before{
    width: 100%;

}

.nav{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #082926;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

/*dev card introduction*/
.text-color{
    color: #000000;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3s);
    overflow: hidden;
    transition: 0.6s;
    animation-timing-function: ease;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}
.card-content h1{
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;   
}

@keyframes slideinleft{
    from{
        transform: translateX(-1000px);
    }

    to{
        transform: translateX(0);
    }
}

.card-container{
    animation-name:slideinleft;
    animation-duration: 3s;
}

.pengenalan{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h2{
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.purchase{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}


.product a:hover{
	transform: scale(1.1);
}

.purchase-content{
    max-width: 600px;
}

.purchase-content h3{
    font-size: 50px;
    font-weight: 700;
}

.purchase-content h1{
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
}

.btn-box button{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #082926;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box button:hover{
    color: #00abf0;
}

.btn-box button:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box button:nth-child(2):hover{
    color: #082926;
}

.btn-box button:nth-child(2):before{
    background-color: #00abf0;
}

.btn-box button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #082926;
    z-index: -1;
    transition: .5s;
}

.btn-box button:hover:before{
    width: 100%;

}

.navbar-home a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar-home a:hover,
.navbar a.active{
    color: crimson;
}



